h1 {
    text-align: center;
}

.jumbotron {
    background-image: url(clouds2.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
    text-emphasis-color: black;
}

